h3 {
    margin: 5px 0;
    font-size: 21px;
}

body {
    margin: 0;
}

.quizbody {
    min-height: 100vh;
    background-color: #dadada !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quizcard {
    border-radius: 10px;
    background-color: white;
    width: 700px;
}

.quiz-selection {
    background-color: rgb(39, 53, 92);
    border-radius: 0px 0 0 10px;
    width: 170px;
    height: 50vh;
    color: white;
}

.question-selection {
    display: flex;
    gap: 20px;
}

.question-selection:hover {
    cursor: pointer;
    border-left: 3px solid white;
}

.question-count {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 20px;
    gap: 10px;
}

.quiz-logo {
    margin: 10px 5px;
    display: flex;
    justify-content: center;
}

.quiz-logo img {
    width: 100px;
}

.selection {
    height: 150px;
    margin-right: 10px;
    margin-bottom: 100px;
    gap: 20px;
}

.question-body {
    background-color: white;
    background-image: url(img/brainbg.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 0 10px 10px 0;
    width: 100%;
    height: 50vh;
    padding-left: 10px;
}

.question-body img {
    width: 100px;
}

.startselection {
    padding: 10px 0;
}

.question {
    text-align: center;
    padding: 0 10px;
}

.answer {
    height: 60%;
    align-items: center;
}

.answer span {
    margin-left: 5px;
    font-size: 20px;
}

.question-progress {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 10px 10px 25px 0;
}

.answercard {
    width: 90%;
    height: 70px;
    margin: 5px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid black;
}

.answer-number {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    font-size: 25px;
    min-width: 40px;
    height: 40px;
    background-color: gray;
}

.question-footer {
    display: flex;
    justify-content: space-between;
    margin: 10px 15px;
}

.question-footer img {
    cursor: pointer;
    height: 40px;
    width: 40px;
    padding: 4px;
    border-radius: 100%;
    background-color: rgb(214, 213, 213)
}

.question-footer img:hover {
    background-color: rgba(214, 213, 213, 0.5)
}

.answercard:hover {
    cursor: pointer;
    background-color: rgb(214, 213, 213);
}

.bg_success {
    color: white !important;
    background-color: rgb(0, 163, 0) !important;
}

.bg_false {
    color: white !important;
    background-color: rgb(202, 0, 0) !important;
}

.progressbar {
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: center;
    color: white;
    text-align: left;
    background-color: rgb(39, 53, 92);
}

.progress {
    width: 100%;
}

.finished-question {
    border-radius: 0 10px 10px 0;
    padding: 10px 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    background-image: url(img/tropy.png);
    background-repeat: no-repeat;
    background-size: 100px;
    background-position-x: right;
    background-position-y: 150px;
}

button {
    cursor: pointer;
    margin: 10px 10px;
    border-radius: 8px;
    border: none;
    width: 170px;
    height: 40px;
    font-size: 20px;
}

.button-startscreen {
    background-color: rgb(24, 60, 232);
    color: white;
}

.button-startscreen:hover {
    background-color: rgba(24, 60, 232, 0.8);
}

.button-replay {
    color: rgb(24, 60, 232);
}

.button-replay:hover {
    background-color: rgba(24, 60, 232, 0.2);
}

.button-startchallenge {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 35px;
    background-color: rgb(255, 78, 14);
    color: white;
}

.button-startchallenge img {
    height: 25px;
    width: 25px;
    filter: invert(1);
}

.button-startchallenge:hover {
    background-color: rgba(255, 78, 14, 0.8);
}

/*general class*/
.text-center {
    text-align: center;
}

.font-size-20 {
    font-size: 20px;
}

.display-row {
    display: flex;
    justify-content: space-between;
}

.display-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-column-between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.border-left-3 {
    border-left: 3px solid white;
}

.display-center-gap20 {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.font-color-orange {
    color: orange;
}

.display-center-center-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.display-column-center-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.display-right-center {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.padding-10 {
    padding: 10px;
}

.font-rubik {
    font-family: 'Rubik';
}

.font-pt-sans {
    font-family: 'PT Sans' !important;
}

.height-100 {
    height: 100%;
}

.margin-0 h2 {
    margin: 0;
}

.menu {
    display: none;
    position: absolute;
    top: 30px;
    left: 10px;
    width: 40px;
    cursor: pointer;
    transform: translateX(0);
    transition: all 225ms ease-in-out;
}

@media(max-width: 650px) {
    .menu {
        display: block;
    }

    .quiz-selection {
        height: 70vh;
        position: absolute;
        left: 2px;
        transform: translateX(-175px);
        transition: all 225ms ease-in-out;
    }

    .show-quiz-selection {
        transform: translateX(0);
    }

    .quiz-logo {
        cursor: pointer;
    }

    .quizcard {
        margin: 2px;
        height: 60vh;
        width: 100%;
    }

    .display-row {
        height: 100%;
    }

    .d-none {
        display: none;
    }

    .startselection {
        flex-direction: column;
        text-align: center;
    }

    .question-body {
        height: 70vh;
        padding: 0 10px;
        background-repeat: no-repeat;
    }

    .selection {
        height: 50%;
        margin-right: 0px;
        margin-bottom: 0;
        gap: 50px;
    }

    .question-selection {
        gap: 10px;
    }
}